.page{
    background-color: orange;
    line-height: 1.7;
    font-size: 100%;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.responsive-img {
    max-width:100%;
    height: auto;
}

.page,
h1,
h2,
p {
    margin: o;
} 




.page__wrapper{
    background-color: white;
    width: 70%;
    margin:3.4em auto;
    padding: 1.7em;
    border-radius: 50px;
}

h1, 
h2 {
    
    margin-bottom: 1em;
}


p {
    margin: 0;
    margin-bottom: 1.7em;
}

